/* General Navbar Styles */
nav {
  background-color: #007bff;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: #fff;
}

.logout-btn {
  /* margin-top: 20px; */
  background-color: transparent;
  cursor: pointer;
  padding: 0px;
  border: none;
}

.logout-btn:hover {
  background-color: transparent;
  color: #ff0000;
  border-bottom: 2px solid #ff0000;
}

.btn {
  position: absolute;
  top: 25px;
  right: 10px;
  transform: translateY(-50%);

}
.navbar-brand {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-brand h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.nav-links li {
  display: inline-block;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: color 0.3s ease, border-bottom 0.3s ease;
}

.nav-links li a svg {
  margin-left: 8px; /* Ensures the icon appears to the right */
}

.nav-links li a:hover {
  color: #ffcc00;
  border-bottom: 2px solid #ffcc00;
}

/* Mobile Toggle Button */
.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}

.menu-toggle:focus {
  outline: none;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav-links {
    z-index: 1000;
    display: none;
    flex-direction: column;
    gap: 10px;
    background-color: #007bff;
    position: absolute;
    top: 60px;
    right: 20px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .nav-links.mobile {
    display: flex;
  }

  .nav-links li a {
    font-size: 14px;
    padding: 10px 0;
  }

  .nav-links li a svg {
    margin-left: 8px; /* Ensures icons remain on the right side */
  }
}
